@import '../../utils/styles/mixins';

.shop {
  margin-top: 45px;
  width: 100%;

  .linksList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    margin: 0;
    list-style-type: none;

    @include media_1200 {
      justify-items: center;
    }

    @include media_930 {
      grid-template-columns: repeat(2, 1fr);

      .linksList__item_plase_third {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
      }
    }

    @include media_440 {
      grid-template-columns: 1fr;

      .linksList__item_plase_third {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
      }
    }

    .linksList__item_place_stealth {
      background-image: url(../../images/shop-boosted-steslth.png);
    }

    .linksList__item_place_plus {
      background-image: url(../../images/shop-boosted-plus.png);
    }

    .linksList__item_place_mini {
      background-image: url(../../images/shop-boosted-mini.png);
    }
  }
}
