@import '../../utils/styles/constants';

.boostedShop {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;

  .title {
    width: 100%;
    max-width: 663px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.15px;
    text-align: center;
    color: $fontColorDark;
    text-align: center;
    margin: 52px auto 0;
  }

  .text {
    width: 100%;
    max-width: 685px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.25;
    text-align: center;
    color: $fontColorDark;
    margin: 20px auto 0;
  }

  .text::after {
    content: '';
    border-bottom: solid 2px #cfcfcf;
    width: 70px;
    margin: 25px auto 0;
    display: block;
  }

  .linksList {
    padding: 0 9%;
    box-sizing: border-box;
    margin: 45px auto 0;
    list-style-type: none;
    column-gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;

    .linksList__item_boards {
      background-image: url(../../images/boosted-boards.png);
    }

    .linksList__item_revs {
      background-image: url(../../images/boosted-revs.png);
    }
  }
}
