@import '../../utils/styles/constants';
@import '../../utils/styles/mixins';

.boostedShop {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;

  .title {
    width: 100%;
    max-width: 663px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.15;
    text-align: center;
    color: $fontColorDark;
    text-align: center;
    margin: 52px auto 0;

      @include media_740 {
        font-size: 26px;
      }

      @include media_590 {
        max-width: 350px;
      }

      @include media_440 {
        max-width: 300px;
      }
    }

  .text {
    width: 100%;
    max-width: 685px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.25;
    text-align: center;
    color: $fontColorDark;
    margin: 20px auto 0;

    @include media_740 {
      max-width: 400px;
    }

    @include media_740 {
      font-size: 14px;
    }

    @include media_440 {
      font-size: 12px;
      padding: 0 5px;
      max-width: 280px;
    }
  }

  .text::after {
    content: '';
    border-bottom: solid 2px #cfcfcf;
    width: 70px;
    margin: 25px auto 0;
    display: block;
  }

  .linksList {
    padding: 0 9%;
    box-sizing: border-box;
    margin: 45px auto 0;
    list-style-type: none;
    column-gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;

    @include media_930 {
      padding: 0 15px;
    }

    .linksList__item_boards {
      background-image: url(../../images/boosted-boards.png);
    }

    .linksList__item_revs {
      background-image: url(../../images/boosted-revs.png);
    }
  }
}
