@import '../../utils/styles/constants';

.faq {
  width: 100%;
  color: $fontColorDark;

    .faq__list {
      display: grid;
      padding: 0;
      list-style-type: none;
      margin: 30px 20px;
      row-gap: 30px;
      grid-template-columns: 1fr;

      .faq__item {
        display: grid;
        grid-template-columns: 1fr 14fr;

        .faq__icon {
          width: 32px;
          height: 32px;
          display: block;
          grid-column: 1 / 2;
          grid-row: 1 / 2;
        }

        .faq__icon_hidden {
          display: none;
        }

        .faq__icon_visible {
          display: block;
        }

        .faq__question {
          margin-top: 0;
          margin-bottom: 0;
          grid-column: 2 / 3;
          grid-row: 1 / 2;
          font-size: 20px;
        }

        .faq__answer {
          margin-top: 15px;
          margin-bottom: 0;
          grid-column: 1 / 3;
          grid-row: 2 / 3;
          display: none;
        }

        .faq__answer_visible {
          display: block;
        }
      }

      .faq__item::after {
        content: '';
        border-bottom: 2px solid #cfcfcf;
        width: 100%;
        display: block;
        margin-top: 20px;
        grid-column: 1 / 3;
      }
    }
}
