@import '../../utils/styles/constants';
@import '../../utils/styles/mixins';

.button {
  box-sizing: border-box;
  background-color: $buttonBackground;
  border: none;
  color: $fontColorLight;
  border-radius: 35px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.61;
  text-align: center;
  padding: 5px 0;
  text-transform: uppercase;
  width: 200px;
}

.button:hover {
  @include hover;
}
