@import '../../utils/styles/mixins';

.profile {
  display: grid;
  row-gap: 30px;
  max-width: 300px;
  width: 100%;
  justify-items: center;

  &__img {
    width: 150px;

    &_hidden {
      display: none;
    }
  }

  &__form_hidden {
    display: none;
  }
}
