@mixin width($width) {
  width: 100%;
  max-width: $width;
}

@mixin hover {
  cursor: pointer;
  opacity: .7;
}

@mixin buttonCartItem {
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  border: none;
  width: 20px;
  background-color: transparent;
  padding: 0;
}
