@mixin width($width) {
  width: 100%;
  max-width: $width;
}

@mixin hover {
  cursor: pointer;
  opacity: .7;
}

@mixin buttonCartItem {
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  border: none;
  width: 20px;
  background-color: transparent;
  padding: 0;
}

@mixin media_1200 {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin media_930 {
  @media screen and (max-width: 930px) {
    @content;
  }
}

@mixin media_740 {
  @media screen and (max-width: 740px) {
    @content;
  }
}

@mixin media_590 {
  @media screen and (max-width: 590px) {
    @content;
  }
}

@mixin media_440 {
  @media screen and (max-width: 440px) {
    @content;
  }
}
