@import '../../utils/styles/constants';

.faq {
  width: 100%;
  color: $fontColorDark;

    .faq__list {
      display: grid;
      padding: 0;
      list-style-type: none;
      margin: 30px 20px;
      row-gap: 30px;
      grid-template-columns: 1fr;
    }
}
