@import '../../utils/styles/constants';

body {
  margin: 0;

  .app {
    font-family: $fonts;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 100%;
    max-width: $widthPages;
    margin: 0 auto;
    height: 100vh;
  }
}
