@import '../../utils/styles/constants';

body {
  margin: 0;

  .app {
    font-family: $fonts;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 100%;
    max-width: $width-pages;
    margin: 0 auto;
  }
}
