@import '../../utils/styles/constants';
@import '../../utils/styles/mixins';

.header {
  display: grid;
  grid-template-areas:
    'message message message'
    'logo navMenu account';
  @include width($widthPages);
  height: min-content;

  @include media_930 {
    grid-template-areas:
      'message message message'
      'logo account account'
      'navMenu navMenu navMenu';
  }

  @include media_590 {
    grid-template-areas:
      'message message message'
      'menuIcon logo account'
      'navMenu navMenu navMenu';
  }

  @include media_440 {
    grid-template-areas:
      'message message message'
      'logo logo logo'
      'menuIcon menuIcon account'
      'navMenu navMenu navMenu';
  }

  .header__message {
    grid-area: message;
    background-color: $backgroundDark;
    color: #fbfbfb;
    @include width($widthPages);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 2px;
    margin: 0 auto;
    padding: 7px 0;
    box-sizing: border-box;
  }

  .header__logo {
    grid-area: logo;
    justify-self: start;
    width: 160px;
    height: 36px;
    display: block;
    margin: 15px 0 15px 11px;

    @include media_590 {
      margin-left: 0;
      justify-self: center;
    }

    @include media_440 {
      margin: 10px 0 0;
    }
  }

  .navMenu {
    grid-area: navMenu;
    align-self: center;

    .navMenu__list {
      padding: 0;
      list-style-type: none;
      display: flex;
      text-transform: uppercase;
      column-gap: 25px;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.5;
      letter-spacing: 1px;
      margin: 0;

      @include media_1200 {
        font-size: 12px;
      }

      @include media_930 {
        justify-content: space-around;
        margin-bottom: 15px;
      }

      @include media_740 {
        font-size: 10px;
      }

      @include media_590 {
        display: none;
      }

      .navMenu__item {
        .navMenu__link {
          color: $fontColorDark;
          text-decoration: none;
        }

        .navMenu__link:hover {
          @include hover;
        }
      }
    }

    .navMenu__list_visible {
      display: flex;
      flex-direction: column;
      z-index: 10;
      margin-left: 15px;
    }
  }

  .menuIcon {
    display: none;
    margin: 20px 0 0 15px;

    @include media_590 {
      display: block;
    }

    @include media_440 {
      margin: 0 0 5px 15px;
    }
  }

  .menuIcon:hover {
    @include hover;
  }

  .account {
    grid-area: account;
    align-self: center;
    margin: 0 20px 0 0;
    justify-self: end;
    padding: 0;
    list-style-type: none;
    display: flex;
    column-gap: 10px;

    .account__link {
      text-decoration: none;
      position: relative;
    }

    .account__link:hover {
      cursor: pointer;
      opacity: .5;
    }

    .account__cartCount {
      margin: 0;
      padding: 0;
      color: $colorTitleItem;
      position: absolute;
      top: -13px;
      right: -5px;
    }
  }
}
