@import '../../utils/styles/constants';
@import '../../utils/styles/mixins';

.cartItem {
  box-sizing: border-box;
  border: solid 1px $colorBorderItem;
  border-radius: 20px;
  display: grid;
  position: relative;
  padding: 15px;
  align-items: center;

  &__img {
    width: 100%;
    max-width: 150px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    @include media_590 {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      justify-self: center;
    }
  }

  &__name {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 0;
    padding: 0;
    font-size: 22px;
    color: $colorTitleItem;
    font-weight: normal;

    @include media_590 {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      font-size: 18px;
    }

    @include media_440 {
      font-size: 14px;
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
  }

  &__link:hover {
    @include hover;
  }

  &__price {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    margin: 0;
    padding: 0;
    font-size: 18px;

    @include media_590 {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      margin-top: 15px;
      font-size: 14px;
    }
  }

  &__count {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    column-gap: 15px;

    @include media_590 {
      grid-row: 2 / 3;
    }
  }

  &__buttonMinus {
    background-image: url(../../images/icon-minus.svg);
    @include buttonCartItem;

    &:hover {
      @include hover;
    }
  }

  &__buttonPlus {
    background-image: url(../../images/icon-plus.svg);
    @include buttonCartItem;

    &:hover {
      @include hover;
    }
  }

  &__countValue {
    margin: 0;
    padding: 0;
    font-size: 16px;

    @include media_590 {
      font-size: 14px;
    }
  }

  &__totalPrice {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    margin: 0;
    padding: 0;
    font-size: 16px;

    @include media_590 {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
      margin-top: 15px;
      font-size: 14px;
    }
  }

  &__buttonDelete {
    position: absolute;
    top: 15px;
    right: 15px;
    @include buttonCartItem;
    background-image: url(../../images/button-delete.svg);
    height: 20px;

    &:hover {
      @include hover;
    }
  }
}
