@import '../../utils/styles/mixins';

.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  justify-self: center;
  align-self: end;

  @include media_930 {
    flex-direction: column;
    row-gap: 20px;
  }

  &__text {
    margin: 20px 0 20px 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.44;
    color: #000000;

    @include media_930 {
      margin-bottom: 0;
    }
  }

  &__link {
    text-decoration: none;
    color: #ff4a32;

    &:hover {
      @include hover;
    }
  }

  &__paymentSystems {
    list-style-type: none;
    display: flex;
    column-gap: 5px;
    margin: 20px 10px 20px 0;
    padding: 0;

    @include media_930 {
      margin: 0 0 10px 10px;
    }

    @include media_440 {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: start;
    }
  }

  &__paymentSystem {
    width: 38px;
    height: 24px;
    display: block;
  }
}
