@import '../../utils/styles/constants';

.boostedRev {
  width: 100%;
  display: flex;
  column-gap: 40px;
  margin-top: 45px;
  box-sizing: border-box;
  padding: 0 9%;

  .imagesList {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    column-gap: 20px;
  }

  .description {
    display: flex;
    flex-direction: column;
    margin-top: 67px;

    .title {
      margin: 0;
      width: 100%;
      max-width: 340px;
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 1.2;
      color: $fontColorDark;
    }

    .text {
      width: 100%;
      max-width: 340px;
      margin: 21px 0 18px;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 1.5;
      color: $fontColorDark;
    }

    .button_plase_boostedRev {
      width: 100px;
    }
  }
}
