@import '../../utils/styles/constants';

.item {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  justify-items: center;

  &__buttonBack {
    justify-self: start;
    display: block;
    position: relative;
    background-color: transparent;
    padding: 5px 10px;
    color: #ed8530;
    border: 1px solid #2c2c2b;
    font-size: 12px;
    white-space: nowrap;
    transition: .3s linear;
  }

  .item__buttonBack:before, .item__buttonBack:after {
    content: '';
    position: absolute;
    z-index: 1;
    width: 15px;
    height: 15px;
    transition: .3s linear;
  }

  .item__buttonBack:before {
    left: -1px;
    top: -1px;
    border-left: 1px solid #ff7c4d;
    border-top: 1px solid #ff7c4d;
  }

  .item__buttonBack:after {
    bottom: -1px;
    right: -1px;
    border-bottom: 1px solid #ff7c4d;
    border-right: 1px solid #ff7c4d;
  }

  .item__buttonBack:hover {
    color: #ff7c4d;
    border-color: #ff7c4d;
    cursor: pointer;
  }

  &__img {
    width: 100%;
    max-width: 300px;
  }

  &__name {
    margin: 20px 0 0;
    padding: 0;
    font-size: 22px;
    color: $colorTitleItem;
  }

  &__price {
    margin: 20px 0 0;
    padding: 0;
    font-size: 20px;
  }

  &__button {
    display: inline-block;
    padding: 10px 35px;
    margin: 10px auto 0;
    position: relative;
    overflow: hidden;
    border: 2px solid #fe6637;
    border-radius: 8px;
    color: #fe6637;
    transition: .2s ease-in-out;

    &:before {
      content: '';
      background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
      height: 50px;
      width: 50px;
      position: absolute;
      top: -8px;
      left: -75px;
      transform: skewX(-45deg);
    }

    &:hover {
      background: #fe6637;
      color: #fff;
      cursor: pointer;
    }

    &:hover:before {
      left: 150px;
      transition: .5s ease-in-out;
    }

    &_disabled {
      background: #fe6637;
      color: #fff;

      &::before {
        background: transparent;
      }

      &:hover {
        cursor: default;
      }

      &:hover::before {
        left: 0px;
        transition: none;
      }
    }
  }
}
